@model GestionCentroMedico.Models.Mutual

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Mutual</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MutNombre" class="control-label"></label>
                <input asp-for="MutNombre" class="form-control" />
                <span asp-validation-for="MutNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MutDescripcion" class="control-label"></label>
                <input asp-for="MutDescripcion" class="form-control" />
                <span asp-validation-for="MutDescripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MutValor" class="control-label"></label>
                <input asp-for="MutValor" class="form-control" />
                <span asp-validation-for="MutValor" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MutActivo" /> @Html.DisplayNameFor(model => model.MutActivo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
