html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.carousel-item img {
    width: 50%; /* Establece el ancho al 100% del contenedor */
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción original */
}

/**/

#myCarousel {
    width: 80%; /* Ancho del carrusel */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
}
.img-center {
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Estilo para las imágenes */
.carousel-inner img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción original */
    border: 2px solid #fff; /* Agrega un borde blanco a las imágenes */
    border-radius: 10px; /* Aplica un borde redondeado */
}

/* Estilo para los controles del carrusel */
.carousel-control-prev, .carousel-control-next {
    background-color: #333; /* Color de fondo de los controles */
    opacity: 0.7; /* Opacidad de los controles */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #fff; /* Color del icono de los controles */
    border-radius: 50%; /* Hace que el icono sea circular */
    color: #333; /* Color del icono de los controles */
}

@media( max-width: 980px) {
    .login {
        justify-content: flex-end;
    }
}


.btn-salir:hover {
    background: #0D0F44;
    transform: scale(1.05);
    transition: linear .2s;
}

.btn-salir {
    background-image: linear-gradient( 150deg, #0D0F44, #0D0F44 );
}

h4 {
    transform: translateX(100px);
}

.usuario {
    font-size: 20px;
}

.btn-inicio:hover {
    transform: scale(1.02);
    transition: linear .2s;
}

.div-inicio {
    display: flex;
    align-items: flex-end;
}

@media( max-width: 980px) {
    .login {
        justify-content: flex-end;
    }
}

@media (width: 320px) {


    .btn-inicio {
        visibility: hidden;
    }
}
