@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error de inicio de sesion.</h1>
<h2 class="text-danger">La contraseña o el codigo no coinciden</h2>


<p>
    <strong>Si el problema persiste comuniquese con el área de soporte</strong>
    
</p>
